body {
    background-color: black;
  }
  h1{
      color:aliceblue;
      font-family: 'Brush Script MT', cursive;
      text-align: center;
  }
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif {
    padding: 0 2px;
  }
  
  .loader {
    color: blue;
  }
  